body {
    margin: 200px;
    margin-bottom: 200px;
    background-color: teal;}

.presentacion {
    background-color: whitesmoke;
    border-style: groove;
    font-size: 20px;
    font-style: initial;
    padding: 2em;
    box-shadow:  20px 20px 10px #000000;
    }

.foto {
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black; 
    float: right; 
    width: 200px;
    background-color: white;
    }

.habilidades {
    background-color: whitesmoke;
    border-style: groove;
    font-size: 20px;
    font-style: initial;
    padding: 2em;
    float: left; 
    padding-bottom: 0.9em;
    padding-right: 12.7em;
    box-shadow:  20px 5px 15px #000000;
    overflow: hidden}

.formacion {
    background-color: whitesmoke;
    border-style: groove;
    font-size: 15.3px;
    font-style: initial;
    padding-top: 3em;
    padding-bottom: 3.6em;
    padding-right: 2em;
    padding-left: 2.8em;
    float: left; 
    box-shadow:  20px 5px 15px #000000;
    overflow: hidden}

.experiencia { 
    background-color: whitesmoke;
    border-style: groove;
    font-size: 20px;
    font-style: initial;
    padding: 2em; 
    box-shadow:  20px 20px 15px #000000;
    
}

.info {
    background-color: whitesmoke;
    border-style: groove;
    font-size: 22px;
    font-style: initial;
    display: flex;
    justify-content: center;
    padding: 2em;
    box-shadow:  20px 20px 15px #000000;
    overflow: hidden

/* la imagen esta en esa posicion adrede */ }
    
.contacto {
     background-color: whitesmoke;
     border-style: groove;
     font-size: 17px;
     font-style: initial;
     display: flex;
     justify-content: center;
     padding: 1em;
     box-shadow: 20px 20px 15px #000000;
     overflow: hidden}

.changeBG {
    display: flex;
    justify-content: center;
    overflow: hidden
}

#btn-color {
    background-color: #f8f8f8;
    color:rgb(17, 7, 7);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border: 2px groove black;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    overflow: hidden }

    #container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 15px #000000; 
    overflow: hidden}

    